<div class="card">
    <div class="card-body">

    <pre class="m-t-1">
        <kbd>&spades;</kbd> I am a <span class="text-primary">novice programmer</span>.
        <kbd>&spades;</kbd> I have tried my best to enhance my skill from <span class="text-warning">novice</span> to <span class="text-success"><b>pro</b></span>.
        <kbd>&spades;</kbd> Besides, I have spend my time on agro-projects.
        <kbd>&spades;</kbd> I like to play games both outdoor and pc games.
        <kbd>&spades;</kbd> You can find my linkedin profile <a href="https://www.linkedin.com/in/mohammadsheam/"><strong>here</strong></a>.
    </pre>
    </div>
</div>
