<div class="card">
    <div class="card-header">
        <h3 class="text-md-center">Weather report</h3>
    </div>
    <div class="card-body">
        <!--search form-->
        <form action="" ng-submit="fetchData(city)"  >
            <input type="text" class="form-control" ng-model="city" placeholder="Type your city name and press enter" required>
            <input type="submit" style="display: none">
        </form>
        <div class="container m-t-1">
            <!--success data-->
            <div ng-if="data.status == 200">
                <div class="col-md-5">
                    <div class="animated slideInLeft slow">
                        <h3>Weather in {{data.city}}, <img ng-src="http://openweathermap.org/images/flags/{{data.country | lowercase}}.png" alt=""> {{data.country}}</h3>
                        <span>
                            <img ng-src="http://openweathermap.org/img/wn/{{data.weather_icon}}@2x.png"> {{data.temp}} &#8451;
                        </span>
                        <br>
                        <span> {{data.weather_main}} </span><br>
                        <span>get data at {{data.currentTime}}</span>
                    </div>
                </div>
                <div class="col-md-7">
                    <table class="animated fadeInUp slow table table-bordered table-striped m-t-1">
                        <tr>
                            <th>Wind</th>
                            <td>{{data.wind}} m/s</td>
                        </tr>
                        <tr>
                            <th>Cloudiness</th>
                            <td>{{data.weather_desc}}</td>
                        </tr>
                        <tr>
                            <th>Pressure</th>
                            <td>{{data.pressure}} hpa</td>
                        </tr>
                        <tr>
                            <th>Humidity</th>
                            <td>{{data.humidity}} %</td>
                        </tr>
                        <tr>
                            <th>Sunrise</th>
                            <td>{{data.sunrise}}</td>
                        </tr>
                        <tr>
                            <th>Sunset</th>
                            <td>{{data.sunset}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--error data-->
            <div ng-if="data.status != 200">
                <h3 class="text-md-center text-danger">  {{data.message | uppercase}}</h3>
            </div>

            <!--add loader-->
            <div class="text-lg-center" ng-if="loader">
                <img src="content/image/loader.gif" >
            </div>

        </div>
    </div>
    <div class="card-footer">
        <p class="text-md-center"><strong>Above data retrieve from <a target="__blank" href="https://openweathermap.org/">openweathermap</a></strong></p>
    </div>
</div>