/* for angular animation */
.ng_animate.ng-enter {
    -webkit-animation: slideInUp 2s;
    -moz-animation: slideInUp 2s;
    -ms-animation: slideInUp 2s;
    animation: slideInUp 2s;
}
.ng_animate.ng-leave{
    -webkit-animation: slideOutDown 1s;
    -moz-animation: slideOutDown 1s;
    -ms-animation: slideOutDown 1s;
    animation: slideOutDown 1s;
}

.main{
    margin-top: 5px;
    padding: 15px;
}
